<div class="card">
    <div class="card-body">
        <h5 class="titulo mb-3">crear tarjeta</h5>
        <form>
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Titular">
            </div>
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="far fa-credit-card"></i></span>
                <input type="text" class="form-control" placeholder="Numero de tarjeta">
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
                        <input type="text" class="form-control" placeholder="MM/YY">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="far fa-key"></i></span>
                        <input type="password" class="form-control" placeholder="CVV">
                    </div>
                </div>
            </div>
            <button class="btn btn-success btn-lg btn-block"><i class="far fa-database"></i>  INGRESAR TARJETA</button>
        </form>
    </div>
</div>